.flex_outer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    margin-left: 3%;
    margin: 40px;


}

.inner_rap {
    margin: 20px;
}
.inner_rap img {
    width: 100%;
}